<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <!-- ID услуги куда машины будут вставать в очередь -->
        <add key="ServiceIdStd" value="1699360906421" />
        <add key="ServiceIdTec" value="1699360920369" />
        <!-- Адрес для того чтобы поставить очередь -->
        <add key="ServerUrl" value="http://127.0.0.1:8081/qsystem/command" />
        <!-- Локальный IP адрес куда будет стучиться ANPR внутренний метод /anpr/event -->
        <add key="ApiUrlStandart" value="http://localhost:8080/" />
        <add key="ApiUrlTec" value="http://localhost:8081/" />
        <!-- Название принтера чтобы не выходила окошка для сохранения чека -->
        <add key="PrinterName" value="" />
        <!-- Текста для чека -->
        <add key="PhoneNumber" value="0312 055 350" />
        <add key="Text1" value="Кыргызкөмур" />
        <add key="Text2" value="мамлекеттик ишканасы" />
        <add key="Text3" value="Кезектик тартипти сактап чакыруу менен кириңиз" />
        <add key="Text4" value="Электрондук кезек бузуу учуруна кубө болсоңуз төмөнку номерге кабарлаңыз" />
        <!-- Заголовок приложения -->
        <add key="WindowTitle" value="Мониторинг" />
        <!-- Тестовый очередь вкл = true, выкл = false -->
        <add key="IsTest" value="true" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.IO.Compression" publicKeyToken="b77a5c561934e089" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>