<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="asyncFile" xsi:type="AsyncWrapper">
            <target
                    name="file"
                    xsi:type="File"
                    layout="${longdate}|${callsite}|${message}|${exception}"
                    fileName="${basedir}/logs/мониторинг.txt"
                    archiveFileName="${basedir}/logs/archive/мониторинг-${shortdate}.txt"
                    maxArchiveFiles="5"
                    encoding="utf-8"
                    archiveEvery="Day" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="file" />
    </rules>
</nlog>